on:
  workflow_dispatch:
    inputs:
      identifier:
        description: identifier
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  start_deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Add Mask
        run: |
          echo "::add-mask::${{ secrets.ACCOUNT_ID }}"
      - name: tmp
        run: |
          echo $ACTIONS_URL
          echo "identifier: ${{ github.event.inputs.identifier }}"
        env:
          ACTIONS_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

  build:
    runs-on: ubuntu-24.04
    needs:
      - start_deploy
    strategy:
      fail-fast: true
      matrix:
        max_concurrency: [2]
        index: [0, 1]
        runner:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    steps:
      - name: Add Mask
        run: |
          echo "::add-mask::${{ secrets.ACCOUNT_ID }}"
      - name: tmp
        run: |
          echo $ACTIONS_URL
          echo "identifier: ${{ github.event.inputs.identifier }}"
          echo "max_concurrency: ${{ matrix.max_concurrency }}"
          echo "index: ${{ matrix.index }}"
          echo "runner: ${{ matrix.runner }}"
        env:
          ACTIONS_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

  publish:
    runs-on: ubuntu-24.04
    needs:
      - build
    steps:
      - name: Add Mask
        run: |
          echo "::add-mask::${{ secrets.ACCOUNT_ID }}"
      - name: tmp
        run: |
          echo $ACTIONS_URL
          echo "identifier: ${{ github.event.inputs.identifier }}"
        env:
          ACTIONS_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

  update_state:
    runs-on: ubuntu-24.04
    needs:
      - publish
    steps:
      - name: Add Mask
        run: |
          echo "::add-mask::${{ secrets.ACCOUNT_ID }}"
      - run: |
          echo $ACTIONS_URL
          echo "identifier: ${{ github.event.inputs.identifier }}"
        env:
          ACTIONS_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

  fetch_layers:
    runs-on: ubuntu-24.04
    needs:
      - update_state
    steps:
      - name: Add Mask
        run: |
          echo "::add-mask::${{ secrets.ACCOUNT_ID }}"
      - run: |
          echo $ACTIONS_URL
          echo "identifier: ${{ github.event.inputs.identifier }}"
        env:
          ACTIONS_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

  upload-cache:
    runs-on: ubuntu-24.04
    needs:
      - fetch_layers
    steps:
      - name: Add Mask
        run: |
          echo "::add-mask::${{ secrets.ACCOUNT_ID }}"
      - run: |
          echo $ACTIONS_URL
          echo "identifier: ${{ github.event.inputs.identifier }}"
        env:
          ACTIONS_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
